<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trungduc.tripfun">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.HelloActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.SignUpActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.FindTripActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.AllTripFoundActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".Activities.UpTripActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.InputTripDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activities.ShowTripDetailsActivity" android:screenOrientation="portrait" />
        <!-- fragment -->
        <activity
            android:name=".Activities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"  android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>